<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dee2e6">
  <div class="container">
    <%= link_to("Notes", { action: "index" }, class: 'navbar-brand') %>
    </div>
</nav>